<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">New Team</div>
  <div class="panel-body">
    <%= link_to 'Back', teams_path %>
    <hr>
    <%= render 'form' %>
  </div>
</div>