<div class="row" style="margin-bottom: 20px">
  <div class="admin-tool text-center" >
    <button type="button" class="btn btn-success" style="width:100px"><a href="/admin/pillars">Pillars</a></button>
    <button type="button" class="btn btn-success" style="width:100px"><a href="/admin/releases">Releases</a></button>
    <button type="button" class="btn btn-success" style="width:100px"><a href="/admin/teams">Teams</a></button>
    <button type="button" class="btn btn-success" style="width:100px"><a href="/admin/projects">Projects</a></button>
  </div>
</div>