<div class="row" style="margin-bottom: 20px">
  <div class="admin-tool text-center" >
    <button type="button" class="btn btn-success" style="width:100px" onclick="window.location.href='/admin/pillars'">PILLARS</button>
    <button type="button" class="btn btn-success" style="width:100px" onclick="window.location.href='/admin/releases'">RELEASES</button>
    <button type="button" class="btn btn-success" style="width:100px" onclick="window.location.href='/admin/teams'">TEAMS</button>
    <button type="button" class="btn btn-success" style="width:100px" onclick="window.location.href='/admin/projects'">PROJECTS</button>
  </div>
</div>