<% if user_signed_in? %>
	<%= render 'shared/toolbar' %>
<% else %>
	<div class="row" style="margin-bottom: 20px">
	  <div class="admin-tool text-center" >
	    <button type="button" class="btn btn-success" style="width:100px" onclick="window.location.href='/users/sign_in'"><i class="fa fa-sign-in"></i> Sign In</button>
	  </div>
	</div>
<% end %>